@page {
    size: A4;
    margin: 0;
}

.sheet {
    width: 210mm;
    height: 296mm;
    max-width: 210mm;
    max-height: 296mm;
    aspect-ratio: 21 / 29.6;
    /* 1mm余裕をもたせる */
    page-break-after: always;
}

/* プレビュー用のスタイル */
@media screen {
    .sheet {
        width: calc(100 / 24 * 21vw);
        height: calc(100 / 24* 29.6vw);
        /* 背景を白く */
        background: white;
        /* ドロップシャドウ */
        box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
        margin-bottom: 16px;
    }
}
