@page {
    size: A4 portrait;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

html body {
    background: #eee;
    position: static;
}

@media print {
    html body {
        background: transparent;
        margin: 0;
    }

    .no_print {
        display: none;
    }
}
